<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>Users &laquo; Admin</title>
  <link rel="stylesheet" href="../assets/vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../assets/vendors/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="../assets/vendors/nprogress/nprogress.css">
  <link rel="stylesheet" href="../assets/css/admin.css">
  <script src="../assets/vendors/nprogress/nprogress.js"></script>
</head>
<body>
  <div class="main" id="app">
    <nav class="navbar">
      <button class="btn btn-default navbar-btn fa fa-bars"></button>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="profile.html"><i class="fa fa-user"></i>个人中心</a></li>
        <li><a href="login.html"><i class="fa fa-sign-out"></i>退出</a></li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="page-title">
        <h1>用户</h1>
      </div>
      <div class="row">
        <div class="col-md-4">
          <form>
            <h2>添加管理员</h2>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="nickName">昵称</label>
              <div class="col-sm-7 input-group">
                <input id="nickName" class="form-control" v-model="user.nickName" type="text" placeholder="昵称">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="mobile">用户名</label>
              <div class="col-sm-7 input-group">
                <input id="userName" class="form-control" v-model="user.userName" type="text" placeholder="用户名">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="pwd">密码</label>
              <div class="col-sm-7 input-group">
                <input id="pwd" class="form-control" v-model="user.pwd" type="password" placeholder="密码">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="mobile">手机</label>
              <div class="col-sm-7 input-group">
                <input id="mobile" class="form-control" v-model="user.mobile" type="text" placeholder="手机">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="email">邮箱</label>
              <div class="col-sm-7 input-group">
                <input id="email" class="form-control" v-model="user.email" type="email" placeholder="邮箱">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="headUrl">头像</label>
              <div class="col-sm-7 input-group">
                <input id="headUrl" class="hidden" v-model="user.headUrl" type="text">
                <input class="upload" @change='add_img' type="file">
              </div>
            </div>

            <div class="form-group">
              <button class="btn btn-primary" @click="add">添加</button>
            </div>
          </form>
        </div>
        <div class="col-md-8">

          <!-- a.全选和分页部分 show when multiple checked -->
          <div class="page-action">
            <a class="btn btn-danger btn-sm" href="javascript:;" style="display: none">批量删除</a>
          </div>
          <!--b.列表部分-->
          <div style="display: flex;justify-content: flex-end;margin-bottom: 18px">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true" @click="page(1)">首页</span>
                </a>
              </li>
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true" @click="page(currentPage==1?1:currentPage-1)">上一页</span>
                </a>
              </li>
              <li v-for="(i,k) in totalPage" :class="currentPage==i?bg:''" v-if="(startPage<=i)&&(i<=endPage)"><a @click="page(i)">{{i}}</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true" @click="page(currentPage==totalPage?currentPage:currentPage+1)">下一页</span>
                </a>
              </li>
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true" @click="page(totalPage)">尾页</span>
                </a>
              </li>
            </ul>

            <select class="form-control" style="width: 70px; margin-left: 20px" v-model="pageSize" @change="change">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40">40</option>
            </select>
          </div>

          <table class="table table-striped table-bordered table-hover">
            <thead>
               <tr>
                <th class="text-center" width="40"><input type="checkbox"></th>
                <th class="text-center" width="80">头像</th>
                <th>昵称</th>
                <th>用户名</th>
                <th>手机</th>
                <th>邮箱</th>
                <th class="text-center" width="100">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="user in users">
                <td class="text-center"><input type="checkbox"></td>
                <td class="text-center"><img class="avatar" :src="user.headUrl"></td>
                <td>{{user.nickName}}</td>
                <td>{{user.userName}}</td>
                <td>{{user.mobile}}</td>
                <td>{{user.email}}</td>
                <td class="text-center">
                  <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#editTypeModal" @click="editInit(user)">编辑</button>
                  <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#confirmModal" @click="delInit(user)">删除</button>
                </td>
              </tr>
            </tbody>
          </table>
          <!--弹出框 修改分类信息 start-->
          <div class="modal fade" id="editTypeModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                  </button>
                  <h4 class="modal-title" id="myModalLabel">
                    用户信息
                  </h4>
                </div>
                <div class="modal-body">
                  <form class="form-horizontal" role="form">
                    <div class="form-group">
                      <label for="type_nickName" class="col-sm-3 control-label">昵称</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="type_nickName" v-model="user2.nickName"
                               placeholder="请输入用户昵称">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="type_userName" class="col-sm-3 control-label">用户名</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="type_userName" v-model="user2.userName"
                               placeholder="请输入用户名">
                        <input type="text" class="hidden" v-model="user2.userName">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="type_mobile" class="col-sm-3 control-label">手机</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="type_mobile" v-model="user2.mobile"
                               placeholder="请输入手机">
                        <input type="text" class="hidden" v-model="user2.mobile">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="type_email" class="col-sm-3 control-label">邮箱</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="type_email" v-model="user2.email"
                               placeholder="请输入邮箱">
                        <input type="text" class="hidden" v-model="user2.email">
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                  <button type="submit" class="btn btn-primary" @click="edit">确定</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!--弹出框 修改分类信息 end-->
          <!--删除确认对话框 start-->
          <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                  </button>
                  <h4 class="modal-title">
                    提示
                  </h4>
                </div>
                <div class="modal-body">
                  <strong>确认删除:</strong> {{userName}} ?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                  <button type="submit" class="btn btn-primary" @click="del">确定</button>
                  <span id="tip"> </span>
                </div>
              </div>
            </div>
          </div>
          <!--删除确认对话框 end-->

        </div>
      </div>
    </div>
  </div>

  <div class="aside">
    <div class="profile">
      <img class="avatar" src="../uploads/avatar.jpg">
      <h3 class="name">布头儿</h3>
    </div>
    <ul class="nav">
      <li>
        <a href="index.html"><i class="fa fa-dashboard"></i>仪表盘</a>
      </li>
      <li>
        <a href="#menu-posts" class="collapsed" data-toggle="collapse">
          <i class="fa fa-thumb-tack"></i>文章<i class="fa fa-angle-right"></i>
        </a>
        <ul id="menu-posts" class="collapse">
          <li><a href="articleList.html">所有文章</a></li>
          <li><a href="post-add.html">写文章</a></li>
          <li><a href="articleType.html">分类目录</a></li>
        </ul>
      </li>
      <li>
        <a href="comments.html"><i class="fa fa-comments"></i>评论</a>
      </li>
      <li class="active">
        <a href="users.html"><i class="fa fa-users"></i>用户</a>
      </li>
      <li>
        <a href="#menu-settings" class="collapsed" data-toggle="collapse">
          <i class="fa fa-cogs"></i>设置<i class="fa fa-angle-right"></i>
        </a>
        <ul id="menu-settings" class="collapse">
          <li><a href="nav-menus.html">导航菜单</a></li>
          <li><a href="slides.html">图片轮播</a></li>
          <li><a href="settings.html">网站设置</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <script src="../assets/vendors/jquery/jquery.js"></script>
  <script src="../assets/vendors/bootstrap/js/bootstrap.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="../assets/vendors/vue/axios.min.js"></script>
  <script src="../assets/vendors/common.js"></script>
  <script>
      var vm = new Vue({
          el: '#app',
          data: {
              //相关变量
              user: {
                  headUrl:''
              },
              user2:{},
              userId: '',
              userName: '',
              users:{},


              //相关rl
              listUrl: '',
              addUrl:'',

              //分页相关
              totalCount: '',
              currentPage: '',
              pageSize: 5,
              showPage: 3,
              bg:'active'

          },
          computed: {
              //总的分页数量
              totalPage: function () {
                  return Math.ceil(Number(this.totalCount) / Number(this.pageSize))
              },
              startPage: function () {
                  if (this.totalPage <= this.showPage) {
                      return 1;
                  }
                  if (this.currentPage <= Math.ceil(Number(this.showPage) / 2)) {
                      return 1;
                  }
                  let start = this.currentPage - (Math.floor(Number(this.showPage) / 2));
                  return start;
              },
              endPage: function () {
                  if (this.totalPage <= this.showPage) {
                      return this.totalPage;
                  }
                  return this.startPage + this.showPage - 1
              }
          },
          methods: {
              //分页
              page(i) {
                  if (!i) {
                      this.currentPage = 1;
                  } else {
                      this.currentPage = i;
                  }
                  this.listUrl = domain+'/user/page';
                  axios.post(this.listUrl, "currentPage=" + this.currentPage + "&pageSize=" + this.pageSize).then(res => {
                      this.users  = res.data.data.data
                      this.totalCount = res.data.data.totalCount
                      this.currentPage = res.data.data.currentPage
                  })
              },
              // 新增
              add() {
                  this.addUrl = domain+'/user/add',
                      axios.post(this.addUrl, this.user, {
                          transformRequest: [
                              function (data) {
                                  let params = "";
                                  for (let index in data) {
                                      params += index + '=' + data[index] + '&';
                                  }
                                  return params.substring(0, params.length - 1);
                              }
                          ]
                      }, {
                          headers: {
                              'Content-Type': 'application/x-www-form-urlencoded'
                          }
                      })
                      .then((res) => {
                          if (res.data.code == 1) {
                              this.user = {};
                              console.log(res.data)
                          } else {
                              alert(res.data.message);
                          }
                      }, (err) => {
                          alert(err);
                      })
              },
              // 上传照片
              add_img(event) {
                  //内部函数
                var test = upload(event);
                new Promise(test).then(function (result) {
                    vm.user.headUrl = result;
                }).catch(function (reason) {
                    console.log('失败：' + reason);
                });
              },
              editInit(user) {
                  this.user2 = user;
              },
              edit(){
                  this.editUrl = domain+'/user/update',
                      axios.post(this.editUrl, this.user2, {
                          transformRequest: [
                              function (data) {
                                  let params = "";
                                  for (let index in data) {
                                      params += index + '=' + data[index] + '&';
                                  }
                                  return params.substring(0, params.length - 1);
                              }
                          ]
                      }, {
                          headers: {
                              'Content-Type': 'application/x-www-form-urlencoded'
                          }
                      })
                        .then((res) => {
                            if (res.data.code == 1) {
                                this.page();
                                $("#editTypeModal").modal("hide");

                            } else {
                                alert(res.data.message);
                            }
                        }, (err) => {
                            alert(err);
                        })
              },
              delInit(user) {
                  this.userId = user.id;
                  this.userName = user.userName;
              },
              del(){
                  this.delUrl = domain+'/user/del',
                      axios.post(this.delUrl, "id=" + this.userId, {
                          headers: {
                              'Content-Type': 'application/x-www-form-urlencoded'
                          }
                      })
                        .then((res) => {
                            if (res.data.code == 1) {
                                this.page();
                                $("#confirmModal").modal("hide");
                            } else {
                                alert(res.data.message);
                            }
                        }, (err) => {
                            alert(err);
                        })
              }
          },
          created: function () {
              this.page();
          }
      });
  </script>
</body>
</html>
